
.vs/VoronoiVid/v16/.suo
.vs/VoronoiVid/v16/Browse.VC.db
.vs/VoronoiVid/v16/Browse.VC.db-shm
.vs/VoronoiVid/v16/Browse.VC.db-wal
.vs/VoronoiVid/v16/Browse.VC.opendb
.vs/VoronoiVid/v16/ipch/AutoPCH/1ed7ccdb79eb07b8/OFAPP.ipch
.vs/VoronoiVid/v16/ipch/AutoPCH/609dee3d3fe8e1f2/MAIN.ipch
.vs/VoronoiVid/v16/ipch/AutoPCH/6e60a22156eb9580/OFAPP.ipch
.vs/VoronoiVid/v16/ipch/AutoPCH/8a667cb468de50ff/OFAPP.ipch
.vs/VoronoiVid/v16/Solution.VC.db
.vs/VoronoiVid/v16/Solution.VC.db-shm
.vs/VoronoiVid/v16/Solution.VC.db-wal
addons.make
bin/data/.gitkeep
bin/fmod.dll
bin/fmodL.dll
bin/FreeImage.dll
bin/VoronoiVid.exe
bin/VoronoiVid.exp
bin/VoronoiVid.lib
bin/VoronoiVid_debug.exe
bin/VoronoiVid_debug.exp
bin/VoronoiVid_debug.lib
bin/VoronoiVid_debug.pdb
icon.rc
obj/Win32/Debug/icon.res
obj/Win32/Debug/src/main.obj
obj/Win32/Debug/src/ofApp.obj
obj/Win32/Debug/vc142.pdb
obj/Win32/Debug/VoronoiVid.log
obj/Win32/Debug/VoronoiVid.tlog/CL.14456.write.1.tlog
obj/Win32/Debug/VoronoiVid.tlog/CL.command.1.tlog
obj/Win32/Debug/VoronoiVid.tlog/CL.read.1.tlog
obj/Win32/Debug/VoronoiVid.tlog/link.command.1.tlog
obj/Win32/Debug/VoronoiVid.tlog/link.read.1.tlog
obj/Win32/Debug/VoronoiVid.tlog/link.write.1.tlog
obj/Win32/Debug/VoronoiVid.tlog/rc.command.1.tlog
obj/Win32/Debug/VoronoiVid.tlog/rc.read.1.tlog
obj/Win32/Debug/VoronoiVid.tlog/rc.write.1.tlog
obj/Win32/Debug/VoronoiVid.tlog/VoronoiVid.lastbuildstate
obj/Win32/Debug/VoronoiVid.tlog/VoronoiVid.write.1u.tlog
obj/Win32/Debug/VoronoiVid_debug.exe.recipe
obj/Win32/Debug/VoronoiVid_debug.ilk
obj/x64/Release/icon.res
obj/x64/Release/src/main.obj
obj/x64/Release/src/ofApp.obj
obj/x64/Release/vc142.pdb
obj/x64/Release/VoronoiVid.exe.recipe
obj/x64/Release/VoronoiVid.log
obj/x64/Release/VoronoiVid.tlog/CL.22148.write.1.tlog
obj/x64/Release/VoronoiVid.tlog/CL.command.1.tlog
obj/x64/Release/VoronoiVid.tlog/CL.read.1.tlog
obj/x64/Release/VoronoiVid.tlog/link.command.1.tlog
obj/x64/Release/VoronoiVid.tlog/link.read.1.tlog
obj/x64/Release/VoronoiVid.tlog/link.write.1.tlog
obj/x64/Release/VoronoiVid.tlog/rc.command.1.tlog
obj/x64/Release/VoronoiVid.tlog/rc.read.1.tlog
obj/x64/Release/VoronoiVid.tlog/rc.write.1.tlog
obj/x64/Release/VoronoiVid.tlog/VoronoiVid.lastbuildstate
obj/x64/Release/VoronoiVid.tlog/VoronoiVid.write.1u.tlog
src/VoronoiVideo/
